{% extends 'empls/base_empls.html'%}
 {% load mptt_tags %}
	<h1>HI</h1>
 
{% block title %}
		
	Employees
{% endblock %}


{% block content %}

<ul>
    {% recursetree tree %}
        <li>	 
            <a href="{{node.get_absolute_url}}">{{ node.name }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                   <a href="{{children.get_absolute_url}}"> {{ children }}</a>
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
	

<a class="btn btn-primary" href="" role="button">Добавить сотрудника</a>


<br>

{% endblock %} 

<!--{flat.get_absolute_url}-->
